* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.agenda {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Cambia el ancho mínimo según sea necesario */
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    padding: 20px; /* Agregado para espaciado alrededor de la cuadrícula */
}

.event {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd; /* Borde para los eventos */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo ligero para eventos */
    transition: transform 0.2s; /* Transición suave para el efecto de hover */
}

.event:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el cursor */
}

.date {
    font-size: 1.5em;
    font-weight: 700;
}

.location {
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px 0;
}

.description {
    font-size: 1em;
    font-weight: 400;
    color: #555;
}
