* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.agenda {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px; /* Espacio entre elementos */
    width: 80%;
    max-width: 1200px; /* Ancho máximo */
    padding: 20px; /* Espacio alrededor de la cuadrícula */
}

.event {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd; /* Borde para cada evento */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo ligero */
    transition: transform 0.2s; /* Transición para efecto hover */
}

.event:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el cursor */
}

.date {
    font-size: 1.5em;
    font-weight: 700;
}

.location {
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px 0;
}

.description {
    font-size: 1em;
    font-weight: 400;
    color: #555;
}
